elec/resources/IWebSystemDDLService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservice.elec.weige.com" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://webservice.elec.weige.com" xmlns:ax21="http://domain.elec.weige.com/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://domain.elec.weige.com/xsd">
            <xs:complexType name="ElecSystemDDL">
                <xs:sequence>
                    <xs:element minOccurs="0" name="ddlCode" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="ddlName" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="itemname" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="keywordname" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="seqID" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="typeflag" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://webservice.elec.weige.com" xmlns:ax22="http://domain.elec.weige.com/xsd">
            <xs:import namespace="http://domain.elec.weige.com/xsd"/>
            <xs:element name="findSystemByKeyword">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="findSystemByKeywordResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax21:ElecSystemDDL"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
  </wsdl:types>
  <wsdl:message name="findSystemByKeywordRequest">
    <wsdl:part name="parameters" element="xsd:findSystemByKeyword">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findSystemByKeywordResponse">
    <wsdl:part name="parameters" element="xsd:findSystemByKeywordResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="IWebSystemDDLServicePortType">
    <wsdl:operation name="findSystemByKeyword">
      <wsdl:input message="xsd:findSystemByKeywordRequest" wsaw:Action="urn:findSystemByKeyword">
    </wsdl:input>
      <wsdl:output message="xsd:findSystemByKeywordResponse" wsaw:Action="urn:findSystemByKeywordResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IWebSystemDDLServiceSoap11Binding" type="xsd:IWebSystemDDLServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="findSystemByKeyword">
      <soap:operation soapAction="urn:findSystemByKeyword" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="IWebSystemDDLServiceHttpBinding" type="xsd:IWebSystemDDLServicePortType">
    <http:binding verb="POST"/>
    <wsdl:operation name="findSystemByKeyword">
      <http:operation location="findSystemByKeyword"/>
      <wsdl:input>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="IWebSystemDDLServiceSoap12Binding" type="xsd:IWebSystemDDLServicePortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="findSystemByKeyword">
      <soap12:operation soapAction="urn:findSystemByKeyword" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IWebSystemDDLService">
    <wsdl:port name="IWebSystemDDLServiceHttpEndpoint" binding="xsd:IWebSystemDDLServiceHttpBinding">
      <http:address location="http://localhost:8080/axis2/services/IWebSystemDDLService"/>
    </wsdl:port>
    <wsdl:port name="IWebSystemDDLServiceHttpSoap12Endpoint" binding="xsd:IWebSystemDDLServiceSoap12Binding">
      <soap12:address location="http://localhost:8080/axis2/services/IWebSystemDDLService"/>
    </wsdl:port>
    <wsdl:port name="IWebSystemDDLServiceHttpSoap11Endpoint" binding="xsd:IWebSystemDDLServiceSoap11Binding">
      <soap:address location="http://localhost:8080/axis2/services/IWebSystemDDLService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
